.site-header {
  background-color: $header-bg !important;

  & .navbar-toggler {
    color: $primary;
    border-color: $primary;
    background-image: none;
    font-size: 1.4rem;
    outline: none;
  }

  & .logo a {
    color: $header-logo;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .account {
    display: flex;
    align-items: center;
  }

  @media (min-width: 768px) {
    & .account {
      background-color: transparent;
      padding: 5px 15px;
      border-radius: 25px;
      border: 1px solid $primary;
    }
  }
}
