#sidebar {
    background-color: #334756;

    .sidebar-header,
    .list-group-item,
    .list-group-item {
        color: #fff;
        background-color: #334756;
        & a {
            color: #fff;
            background-color: #334756;
            display: block;
            width: 100%;
            border-radius: 0;
            font-size: 20px;
            padding: 15px;
            &.child-level-1 {
                background-color: #2c394b;
            }
        }
    }

    .sidebar-button {
        margin-top: 12px;
        div {
            background-color: $primary;
        }
    }
}

.navbar.private-sidebar {
    background-color: #2c394b;
}
