.modal-content {
    color: #000;
    & .close {
        border: none;
        background: transparent;
        font-size: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: 600;
    }
}
