.b-pagination {
    .page-item {
        .page-link {
            background-color: $primary;
            border-color: $primary;
            color: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
        }
    }
}
